.logoloop {
  overflow: hidden;
  position: relative;
  display: flex;
}
.logoloop--horizontal .logoloop__track {
  display: flex;
  flex-direction: row;
  will-change: transform;
}
.logoloop--vertical .logoloop__track {
  display: flex;
  flex-direction: column;
  will-change: transform;
}
.logoloop__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: var(--logoloop-gap, 32px);
}
.logoloop--vertical .logoloop__list {
  flex-direction: column;
  margin-bottom: var(--logoloop-gap, 32px);
}
.logoloop--horizontal .logoloop__list {
  margin-right: var(--logoloop-gap, 32px);
}
.logoloop__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoloop__item img {
  height: var(--logoloop-logoHeight, 28px);
  width: auto;
}
.logoloop--fade {
  mask-image: linear-gradient(
    to right,
    var(--logoloop-fadeColor, transparent),
    black 15%,
    black 85%,
    var(--logoloop-fadeColor, transparent)
  );
}
.logoloop--vertical.logoloop--fade {
  mask-image: linear-gradient(
    to bottom,
    var(--logoloop-fadeColor, transparent),
    black 15%,
    black 85%,
    var(--logoloop-fadeColor, transparent)
  );
}
.logoloop--scale-hover .logoloop__track:hover .logoloop__item {
  opacity: 0.5;
  transition: opacity 0.3s;
}
.logoloop--scale-hover .logoloop__track .logoloop__item:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: opacity 0.3s, transform 0.3s;
}
